.LogChargeField:after{
    content: "";
    display: table;
    clear: both;
}

.Column {
  float: left;
  width: 50%;
}

.Label {
  text-align: right;
  font-size: 12px;
}

.Field{
  text-align: left;
}

.Field Input {
  text-align: right;
  border: 1px solid #9c9c9c;
  border-radius: 3px;
}

.Field select {
  text-align: right;
  border: 1px solid #9c9c9c;
  border-radius: 3px;
}

.SaveButton {
  background-color: #4389ff;
  color:white;
  border: none;
  width: 50px;
  height: 25px;
  font-weight: bold;
}

.SaveButton:active {vertical-align: top;
    padding: 4px 7px 3px;
  }

.SaveButton:hover {
  background-color: #b5d0ff;
  color:white;
  border: none;
  width: 50px;
  height: 25px;
  font-weight: bold;
}

.CalendarDiv {
  border-radius: 5px;
  border: 2px solid #0bc934;
}
